[2020-10-08 04:29] krishrahul98 opened #2 "Selection Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Selection Sort

**Submission Type**
Algorithm

**Submission Description**
Write Selection Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Selection _Sort => Selection_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 04:33] krishrahul98 opened #3 "Insertion sort"
Add comment to get assigned to your desired language.

**Submission Title**
Insertion Sort

**Submission Type**
Algorithm

**Submission Description**
Write Insertion Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Insertion _Sort => Insertion_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 04:34] krishrahul98 opened #4 "Bubble Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Bubble Sort

**Submission Type**
Algorithm

**Submission Description**
Write the Bubble Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Bubble _Sort => Bubble_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 04:35] krishrahul98 opened #5 "Quick Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Quick Sort

**Submission Type**
Algorithm

**Submission Description**
Write Quick Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Quick _Sort => Quick_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 04:36] krishrahul98 opened #6 "Merge Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Merge Sort

**Submission Type**
Algorithm

**Submission Description**
Write Merge Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Merge _Sort => Merge_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 04:37] krishrahul98 opened #7 "Heap Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Heap Sort

**Submission Type**
Algorithm

**Submission Description**
Write Heap Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Heap _Sort => Heap_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 04:38] krishrahul98 opened #8 "Counting Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Counting Sort

**Submission Type**
Algorithm

**Submission Description**
Write Counting Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Counting _Sort => Counting_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [ ] JavaScript
- [x] C#

[2020-10-08 04:38] jayaganeshkumar commented on #3
I want to do this sorting in C, C++ and Python. Can you assign it to me?
@krishrahul98

[2020-10-08 04:41] krishrahul98 commented on #3
@jayaganeshkumar Assigned you. Write code and upload in the proper directory. :)

[2020-10-08 04:49] sumasreeeduru commented on #8
assign me. Language: Python

[2020-10-08 04:50] BraveeSnow commented on #8
I can try writing the algorithm in C++.

[2020-10-08 04:51] sumasreeeduru commented on #2
assign me. Language: Python

[2020-10-08 05:09] Srithanya commented on #8
assign me. Langauge: Python

[2020-10-08 05:10] jayaganeshkumar commented on #3
@krishrahul98  I have submitted a PR with the programs. Check it and merge.

[2020-10-08 05:19] krishrahul98 commented on #8
@Srithanya Python is already assigned to @sumasreeeduru .
Please choose some other language or choose another sorting from issues or create a new issue.

[2020-10-08 05:21] krishrahul98 commented on #3
@jayaganeshkumar Your PR is merged already.

[2020-10-08 05:23] Srithanya commented on #8
assign me. Language: C

[2020-10-08 05:25] jayaganeshkumar commented on #3
Thank you @krishrahul98

[2020-10-08 05:29] Amulya-coder commented on #8
I wants to work on Java.

[2020-10-08 05:33] Nikzy7 commented on #7
Hey I can do this in C++, java and python !

[2020-10-08 05:34] meghanagottapu commented on #2
can i work on this in java?

[2020-10-08 05:34] krishrahul98 commented on #7
Assigned you for C++, Java, Python

[2020-10-08 05:34] Nikzy7 commented on #6
I can do this in c++, java and python ! please assign me this issue 😄

[2020-10-08 05:35] krishrahul98 commented on #2
Sure.

[2020-10-08 05:36] krishrahul98 commented on #6
Ok assigning you for C++, Java, Python.

[2020-10-08 06:00] anurag1299 commented on #7
Hey I want to do this in c and c#

[2020-10-08 06:02] anurag1299 commented on #4
I want to do this in java

[2020-10-08 06:03] anurag1299 commented on #2
i want to do this in c#

[2020-10-08 06:04] krishrahul98 commented on #7
Sure

[2020-10-08 06:04] anurag1299 commented on #5
i want to do this in java

[2020-10-08 06:05] krishrahul98 commented on #4
Sure

[2020-10-08 06:06] krishrahul98 commented on #2
Sure

[2020-10-08 06:13] asunawesker commented on #4
Hi can you assing this to me in C?

[2020-10-08 06:15] krishrahul98 commented on #4
Sure

[2020-10-08 06:23] sumasreeeduru commented on #4
Hi could you assign me this in python.

[2020-10-08 06:26] krishrahul98 commented on #4
Sure

[2020-10-08 07:09] krishrahul98 opened #17 "Linear Search"
Add comment to get assigned to your desired language.

**Submission Title**
Linear Search

**Submission Type**
Algorithm

**Submission Description**
Write Linear Search Algorithm

**Submission Directory**
Algorithm => Searching => Linear_Search => Linear_Search.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 07:11] krishrahul98 opened #18 "Binary Search"
Add comment to get assigned to your desired language.

**Submission Title**
Binary Search

**Submission Type**
Algorithm

**Submission Description**
Write Binary Search Algorithm

**Submission Directory**
Algorithm => Searching => Binary_Search => Binary_Search.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 07:11] sumasreeeduru commented on #17
hi could you assign me this? language: python

[2020-10-08 07:12] krishrahul98 opened #19 "Interpolation Search"
Add comment to get assigned to your desired language.

**Submission Title**
Interpolation Search

**Submission Type**
Algorithm

**Submission Description**
Write Interpolation Search Algorithm

**Submission Directory**
Algorithm => Searching => Interpolation_Search => Interpolation_Search.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [ ] JavaScript
- [ ] C#

[2020-10-08 07:13] krishrahul98 commented on #17
Sure

[2020-10-08 07:17] confusedcoder1 commented on #4
Hey, can you assign this to me for javascript or C++?

[2020-10-08 07:19] krishrahul98 opened #20 "Jump Search"
Add comment to get assigned to your desired language.

**Submission Title**
Jump Search

**Submission Type**
Algorithm

**Submission Description**
Write Jump Search Algorithm

**Submission Directory**
Algorithm => Searching => Jump_Search => Jump_Search.extension

**Language**

- [x]  C++
- [ ]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [ ] C#

[2020-10-08 07:20] krishrahul98 commented on #4
Sure. Follow folder structure for PR @confusedcoder1

[2020-10-08 07:21] falguni-k commented on #18
Hi. I can do it in c++. Can you assign it to me?

[2020-10-08 07:22] shin-iji commented on #18
@krishrahul98 can i try in python?

[2020-10-08 07:23] krishrahul98 commented on #18
Sure. Assigning you to python

[2020-10-08 07:23] krishrahul98 commented on #18
Sure

[2020-10-08 07:34] arihantbansal commented on #18
I'll be implementing the algorithm in Java.

[2020-10-08 07:38] SanjayMarreddi commented on #17
@krishrahul98  I will do in It in C . Could you assign this to me

[2020-10-08 07:39] Srithanya commented on #18
Could you assign Binary Search in C

[2020-10-08 07:42] Srithanya commented on #17
Could you assign me in Java?

[2020-10-08 07:50] ritwiksingh21 commented on #17
Hi, Can you assign me in C?

[2020-10-08 07:59] BrianAnakPintar commented on #20
Hi, I would like to do it in python, can you assign it for me?

[2020-10-08 08:07] krishrahul98 commented on #17
@ritwiksingh21 Please choose another language or another algorithm. C is already assigned.

[2020-10-08 08:13] falguni-k commented on #19
Hi, I can do it in c++. Can you assign it to me?

[2020-10-08 08:18] suprimnakarmi commented on #19
Hey, I can do it in Python. Can you please assign it to me?

[2020-10-08 08:24] Srithanya commented on #5
Can you assign me quick sort in python?

[2020-10-08 08:28] ritwiksingh21 commented on #17
sure.

[2020-10-08 08:30] ritwiksingh21 commented on #5
Hi, Can you assign me in C?

[2020-10-08 08:31] SanjayMarreddi commented on #6
Hey @krishrahul98 Could you assign me this for C ?

[2020-10-08 08:39] suprimnakarmi commented on #19
I've created a directory for the Interpolation search in the required path, please update your code there. Thank you!

[2020-10-08 08:40] krishrahul98 commented on #19
Great

[2020-10-08 09:03] ritwiksingh21 commented on #2
Hi, can you assign me to do this in C?

[2020-10-08 09:04] krishrahul98 opened #33 "Radix Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Radix Sort

**Submission Type**
Algorithm

**Submission Description**
Write Radix Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Radix _Sort => Radix_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [x] C#

[2020-10-08 09:05] krishrahul98 opened #34 "Bucket Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Bucket Sort

**Submission Type**
Algorithm

**Submission Description**
Write the Bucket Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Bucket _Sort => Bucket_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [ ] C#

[2020-10-08 09:06] Lemorz56 commented on #4
Hey, I could do bubble sort for C++ 😎. Can you assign me to it?

[2020-10-08 09:06] krishrahul98 opened #35 "Shell Sort"
Add comment to get assigned to your desired language.

**Submission Title**
Shell Sort

**Submission Type**
Algorithm

**Submission Description**
Write Shell Sort Algorithm

**Submission Directory**
Algorithm => Sorting => Shell _Sort => Shell_Sort.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] JavaScript
- [ ] C#

[2020-10-08 09:13] amintai commented on #33
Hey Can i work on Redex Sort

[2020-10-08 09:14] krishrahul98 commented on #33
@amintai Language?

[2020-10-08 09:24] krishrahul98 opened #40 "Array Rotation"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Array Rotation (Left or Right)

**Submission Type**
Data Structure

**Submission Description**
Write a program to rotate an array of size n by k elements (Left or Right).

**Submission Directory**
Data_Structures => Array => Rotate_Array_L.extension

**Language**

- [x]

[2020-10-08 09:29] krishrahul98 opened #42 "Array Reversal"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Array Reversal

**Submission Type**
Data Structure

**Submission Description**
Write a program to reverse an array of size n. Apply any algorithm of your choice.

**Submission Directory**
Data_Structures => Array => Reverse_Array_AlgorithmName.extension

**Language**

- [

[2020-10-08 09:31] krishrahul98 opened #43 "Search Element in sorted and rotated array"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Sorted and Rotated Array Search

**Submission Type**
Data Structure

**Submission Description**
Write a program to search an array of size n where the array is sorted and rotated by k.

**Submission Directory**
Data_Structures => Array => Rotated_Array_Search.extension

*

[2020-10-08 09:33] amintai commented on #33
Java

[2020-10-08 09:35] therc01 commented on #42
Hi, i can reverse the array in **Python**

[2020-10-08 09:39] harsh0620 commented on #17
Hey, can you assign me to C++?

[2020-10-08 10:06] debarshi-1999 commented on #6
I want to implement this in C++. Can you please assign me this?

[2020-10-08 10:29] harsh0620 commented on #2
Can I work on this in C++?

[2020-10-08 10:39] krishrahul98 commented on #2
Sure

[2020-10-08 11:12] harsh0620 commented on #3
Can I work on this in Java?

[2020-10-08 11:15] krishrahul98 commented on #3
Sure

[2020-10-08 11:36] therc01 commented on #6
Hi, i want to create program for merge sort in python,

[2020-10-08 11:37] ritwiksingh21 commented on #34
Hello. I would like to be assigned to do this in C.

[2020-10-08 11:46] ritwiksingh21 commented on #42
Hi, can you assign me to do this in C?

[2020-10-08 11:53] therc01 commented on #42
hi, also assign it to me in C++, thanks

[2020-10-08 12:05] Harshalszz commented on #35
Hey! can I work on this in C.

[2020-10-08 12:05] therc01 commented on #35
Please assign me this in C++ and Python please, thank you

[2020-10-08 12:20] falguni-k commented on #40
Hi! I would like to do it in c++. Please assign.

[2020-10-08 13:10] jayaganeshkumar commented on #5
Hi, can I submit the code for this in C++? If yes, assign to me?

[2020-10-08 16:04] krishrahul98 commented on #42
Yes, you can do. 👍🏼

[2020-10-08 16:12] siddharthgangwar25 commented on #17
Hello. Can I be assigned for C#?

[2020-10-08 16:16] krishrahul98 commented on #17
Assigned @siddharthgangwar25

[2020-10-08 16:47] siddharthgangwar25 commented on #40
Can I try it in Python? I'm new to python and would love to contribute with it.

[2020-10-08 16:48] krishrahul98 commented on #40
Sure

[2020-10-08 17:18] vieee commented on #43
Hi @krishrahul98, I would like to code this in C

[2020-10-08 17:31] krishrahul98 commented on #43
Sure

[2020-10-08 17:38] siddharthgangwar25 commented on #42
Can I be assigned for Java?

[2020-10-08 18:44] krishrahul98 opened #63 "Implement Stack"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Stack Implementation

**Submission Type**
Data Structure

**Submission Description**
Implement Stack form scratch

**Submission Directory**
Dat_Structures => Stack => Stack_Implementation.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] C#
- [x]

[2020-10-08 18:45] krishrahul98 opened #64 "Implement Queue"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Queue Implementation

**Submission Type**
Data Structure

**Submission Description**
Implement Queue form scratch

**Submission Directory**
Dat_Structures => Queue => Queue_Implementation.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [x] C#
- [x]

[2020-10-08 18:47] krishrahul98 opened #65 "Implement Binary Search Tree"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Binary Search Tree

**Submission Type**
Data Structure

**Submission Description**
Implement Binary Search Tree

**Submission Directory**
Data_Structures => Tree => BST_Implementation =>  Binary_Search_Tree.extension

**Language**

- [x]  C++
- [x]  Python
- [x] Java
- [x

[2020-10-08 19:00] shailshah76 commented on #64
could you assign  it to me?
I'll be able to implement it in C++

[2020-10-08 19:01] krishrahul98 commented on #64
Done

[2020-10-08 19:41] EANimesha commented on #65
I like to complete in java, python and javascript

[2020-10-08 19:42] EANimesha commented on #64
Assign me to implement in C

[2020-10-08 19:54] krishrahul98 commented on #65
Assigned for Java, Python and Javascript @EANimesha

[2020-10-08 19:56] krishrahul98 commented on #64
Assigned for C

[2020-10-08 23:10] avinashpai commented on #63
May i complete this in C?

[2020-10-09 02:21] BrianAnakPintar commented on #3
Can I work on this for c#

[2020-10-09 04:48] krishrahul98 commented on #63
Assigned for C

[2020-10-09 04:49] krishrahul98 commented on #3
Assigned for C#

[2020-10-09 05:22] BraveeSnow commented on #64
I could try implementing this in java.

[2020-10-09 05:28] PrajaktaS23 commented on #63
I want to implement this in java

[2020-10-09 05:32] PrajaktaS23 commented on #64
I want to implement this in python

[2020-10-09 05:33] krishrahul98 commented on #63
Assigned for Java

[2020-10-09 05:34] krishrahul98 commented on #64
Assigned for Java

[2020-10-09 05:34] krishrahul98 commented on #64
Assigned for Python

[2020-10-09 05:34] PrajaktaS23 commented on #40
I want to implement this in java

[2020-10-09 05:35] krishrahul98 commented on #40
Assigned for Java

[2020-10-09 05:46] PrajaktaS23 commented on #43
I want to implement this in python

[2020-10-09 05:50] krishrahul98 commented on #43
Assigned for Python

[2020-10-09 06:11] Danotsonof commented on #64
Could you assign this to me for C#.

[2020-10-09 06:11] Danotsonof commented on #63
Could you assign this to me for C#.

[2020-10-09 06:49] jayaganeshkumar commented on #65
@krishrahul98  I like to contribute the code in C++. If you agree, assign it to me.

[2020-10-09 06:51] krishrahul98 commented on #64
Assigned for C#

[2020-10-09 06:52] krishrahul98 commented on #63
Assigned for C#

[2020-10-09 06:52] krishrahul98 commented on #65
Assigned for C++

[2020-10-09 07:00] SaloniK17 commented on #5
Hii, can you please assign me quick sort in c?
Thank you.

[2020-10-09 07:20] jayaganeshkumar commented on #65
@krishrahul98  I made a pull request, check it and merge it and label as "hacktober-accepted"

[2020-10-09 07:42] krishrahul98 commented on #5
@SaloniK17
Quick Sort in C is already added to the repository. If you can write another version of quicksort like **Randomized** Quicksort then I can assign you or choose any other thing to contribute. If you want to contribute a new thing you can raise an issue. I will be happy to help.

[2020-10-09 07:45] krishrahul98 commented on #65
Done

[2020-10-09 08:12] rishika-singh49 commented on #6
Hi, i want to create program for merge sort in c . will you please assign me......

[2020-10-09 08:32] harsh0620 commented on #6
Can I work on this in Java?

[2020-10-09 08:40] krishrahul98 commented on #6
@rishika-singh49
merge sort in C is already assigned and added to the repository before. If you want to add a modified version of Merge sort in C then I can assign you. you can choose any other thing of your choice and if it is not in issue, you can always raise a new issue and get assigned.

[2020-10-09 08:40] krishrahul98 commented on #6
Assigned for Java

[2020-10-09 10:10] SaloniK17 commented on #33
Hii, can you please assign me Radix sort in c?
Thank You

[2020-10-09 10:12] krishrahul98 commented on #33
Assigned for C

[2020-10-09 10:24] krishrahul98 opened #81 "Reverse Linked List"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Reverse Linked List

**Submission Type**
Data Structure

**Submission Description**
Reverse given linked list either recursively or iteratively.

**Submission Directory**
Data_Structures => LinkedList => Reverse_List => Reverse_Linked_List.extension

**Language**

- [x]

[2020-10-09 10:26] krishrahul98 opened #82 "Rotate Linked List"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Rotate Linked List by K

**Submission Type**
Data Structure

**Submission Description**
Given a linked list, rotate the list to the right by k places, where k is non-negative.

**Submission Directory**
Data_Structures => LinkedList => Rotate_Linked_List => Rotate_Linked_L

[2020-10-09 10:26] krishrahul98 commented on #82
C++ code is already in the repository.

[2020-10-09 10:26] krishrahul98 commented on #81
C++ code is already in the repository.

[2020-10-09 10:31] asamant commented on #82
Please assign C to me.

[2020-10-09 10:46] krishrahul98 commented on #82
Assigned for **C**

[2020-10-09 11:20] AnkitaM84 commented on #81
Hey! I would like to work on this in Java.
Thank you

[2020-10-09 11:22] AnkitaM84 commented on #43
Hey! I would like to take this up in Java.
Thank you

[2020-10-09 11:33] AnkitaM84 commented on #82
Hey! I would like to take this up in Java.

[2020-10-09 11:40] Dwarikanathmishra commented on #81
I would like to work on this in C.

[2020-10-09 11:47] krishrahul98 commented on #43
Assigned for **Java**

[2020-10-09 11:48] krishrahul98 commented on #82
Assigned for **Java**

[2020-10-09 11:51] krishrahul98 commented on #81
Assigned for **Java**

[2020-10-09 11:52] krishrahul98 commented on #81
Assigned for **C**

[2020-10-09 11:56] Harshalszz commented on #63
Hey! can I work on this in C++ and Python.

[2020-10-09 11:59] krishrahul98 commented on #63
Assigned for **Cpp* and **Python**

[2020-10-09 12:11] asamant commented on #81
Please assign C# to me.

[2020-10-09 12:13] krishrahul98 commented on #81
Assigned for **C#**

[2020-10-09 15:00] AnkitaM84 commented on #82
@krishrahul98 in the instructions it says "commit the changes with appropriate msg". What exactly has to be written in the message? Asking beforehand to avoid any confusion

[2020-10-09 16:15] Siddhant-K-code commented on #82
Please Assign `JavaScript` to me

[2020-10-09 16:22] krishrahul98 commented on #82
Assigned for **JavaScript** and **Python**

[2020-10-09 16:24] krishrahul98 commented on #82
Just Add commit message like what you are adding or what you are changing.

On Fri, Oct 9, 2020 at 8:31 PM AnkitaM84 <notifications@github.com> wrote:

[2020-10-09 16:27] krishrahul98 commented on #82
@AnkitaM84
Just Add commit message like what you are adding or what you are changing that would be fine.

[2020-10-09 17:42] ashima0699 commented on #20
Hey! can you please assign this issue to me for c++

[2020-10-09 18:11] krishrahul98 commented on #20
Assigned for **C++**

[2020-10-09 18:42] SaloniK17 commented on #65
hii  ,can you please assign this issue to me for c?
Thank you

[2020-10-09 18:45] krishrahul98 commented on #65
**C** is already contributed by someone else. Only **C#** is available. You can choose either **C#** or choose another issue.
If you like you can create a **new** issue for something else, there are lots of options.

[2020-10-09 20:32] Priyanshi-3 commented on #34
I would like to do this in java. Can you please assign it to me?

[2020-10-09 21:08] krishrahul98 commented on #34
@Priyanshi-3
Assigned for **Java**

[2020-10-10 00:43] Siddhant-K-code commented on #81
Please Assign me for `JavaScript` *&* `Python`

[2020-10-10 00:50] Siddhant-K-code commented on #63
Please Assign me for `JavaScript`

[2020-10-10 00:52] Siddhant-K-code commented on #64
Please Assign me for `JavaScript`

[2020-10-10 00:57] Siddhant-K-code commented on #42
Please Assign Me for `JavaScript`

[2020-10-10 00:57] Siddhant-K-code commented on #40
Please Assign Me for `JavaScript`

[2020-10-10 01:11] krishrahul98 commented on #81
@Siddhant-K-code Assigned for **Javascript** and **Python**

[2020-10-10 01:11] krishrahul98 commented on #63
Assigned for **Javascript**

[2020-10-10 01:13] krishrahul98 commented on #64
@Siddhant-K-code Assigned for **Javascript**

[2020-10-10 01:13] krishrahul98 commented on #42
@Siddhant-K-code Assigned for ** Javascript **

[2020-10-10 01:14] krishrahul98 commented on #40
@Siddhant-K-code Assigned for **Javascript**

[2020-10-10 04:35] SaloniK17 commented on #65
shall i make a non-recursive(traversal funtion ) program in c ?

[2020-10-10 05:00] krishrahul98 opened #93 "Binary Tree Traversal (PreOrder,InOrder,PostOrder)"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Get Assigned for either iterative or recursive or both**.

**Submission Title**
Preorder, InOrder and PreOrder Binary Tree Traversal

**Submission Type**
Algorithm/Data Structure

**Submission Description**
Write all three Binary Tree Traversal either iterative or recursive.

**Submission D

[2020-10-10 05:02] krishrahul98 commented on #65
#93
@SaloniK17 Check Issue no #93  I have assigned you there for Binary Tree Traversal Iterative version in **C**.

[2020-10-10 05:05] krishrahul98 commented on #93
@SaloniK17
Comment here to get assigned for **C Iterative**

[2020-10-10 05:12] AbhinavGor commented on #93
Can I do C implementation for pre, post and in orders?  @krishrahul98

[2020-10-10 06:25] vmarpadge commented on #93
Hi
Can you Assign me this for Java?

[2020-10-10 06:45] Rohit-2602 commented on #93
@krishrahul98 can i work on it (in java)

[2020-10-10 06:45] krishrahul98 commented on #93
Assigned for **Java Iterative and Recursive**

[2020-10-10 06:48] krishrahul98 commented on #93
If you want to work on iterative implementation then i can assign you **Java**. You are always free to choose any other language or algorithm or data structure of your choice. If it is not in issue raise an issue and get assigned.

[2020-10-10 06:51] Rohit-2602 commented on #93
Yes i can do iterative implementation in java..
And if possible in c also..

[2020-10-10 06:53] krishrahul98 commented on #93
@Rohit-2602 Assigned for **Java Iterative** and **C iterative**

[2020-10-10 07:09] SaloniK17 commented on #93
Can you asaigm to me this issue for c?

[2020-10-10 07:10] SaloniK17 commented on #93
Can you assign to me this issue for c both recursive and iterative?

[2020-10-10 07:14] krishrahul98 commented on #93
Assigned for **C Both**

[2020-10-10 07:56] Rohit-2602 commented on #93
@krishrahul98 I am not able to find Binary_Tree folder... plzzz help
Implemented successfully...

[2020-10-10 08:01] krishrahul98 commented on #93
Create Binary_Tree folder under Tree then save your code there and push.

[2020-10-10 14:01] Priyanshi-3 commented on #34
#103 BucketSort.java created. Please review.

[2020-10-10 14:11] krishrahul98 commented on #34
Done

[2020-10-10 16:29] vieee commented on #35
Hi @krishrahul98, could I work on this in Java..?

[2020-10-10 17:43] krishrahul98 commented on #35
Assigned for **Java**

[2020-10-10 18:18] vieee commented on #20
Hi @krishrahul98, I would like to code this in Java, could I..?

[2020-10-10 18:35] valar-yudha commented on #93
hey, can you assign this to me for C++ (recursive) ?

[2020-10-10 19:06] krishrahul98 commented on #20
@vieee Assigned for **Java**

[2020-10-10 19:07] krishrahul98 commented on #93
@valar-yudha Assigned for **C++ recursive**

[2020-10-10 19:23] koshtaayush commented on #5
Hi @krishrahul98 , Can I please do this in Javascript ?

[2020-10-10 19:24] koshtaayush commented on #18
Hi @krishrahul98 , Can I please do it in Javascript ?

[2020-10-10 19:41] krishrahul98 commented on #5
@koshtaayush Assigned for **Javascript**

[2020-10-10 19:42] krishrahul98 commented on #18
@koshtaayush Assigned for **Javascript**

[2020-10-10 20:04] Priyanshi-3 commented on #93
Can you assign this to me for both iterative and recursive in python?

[2020-10-10 20:11] krishrahul98 commented on #93
@Priyanshi-3 Assigned for **Python both**

[2020-10-11 02:42] avinashpai commented on #93
Can you assign me C++ iterative?

[2020-10-11 02:45] krishrahul98 commented on #93
@avinashpai Assigned for **C++ iterative**

[2020-10-11 03:03] avinashpai commented on #4
Can I get C?

[2020-10-11 03:08] krishrahul98 commented on #4
@avinashpai Assigned for **C**

[2020-10-11 05:09] Siddhant-K-code commented on #63
#108 Will *Completely Close* This Issue

[2020-10-11 05:14] krishrahul98 commented on #63
@Siddhant-K-code Yes, I am closing this issue.

[2020-10-11 08:07] Siddhant-K-code commented on #40
@krishrahul98  Please assign me for **C**

[2020-10-11 08:27] asamant commented on #18
Hi, @krishrahul98. Please assign C# to me.

[2020-10-11 08:28] asamant commented on #82
Please assign C# to me.

[2020-10-11 11:04] krishrahul98 commented on #40
@Siddhant-K-code Assigned for **C**

[2020-10-11 11:05] krishrahul98 commented on #18
@asamant Assigned for **C#**

[2020-10-11 11:07] krishrahul98 commented on #82
@asamant Assigned for **C#**

[2020-10-11 11:19] Siddhant-K-code commented on #81
#113 Will Completely Close This Issue

[2020-10-11 11:29] krishrahul98 commented on #81
@Siddhant-K-code Person assigned to **C** not completed it yet.

[2020-10-11 13:20] krishrahul98 opened #115 "kjhgfdfghjk"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-11 13:21] #115 closed

[2020-10-11 17:00] vieee commented on #19
Hi @krishrahul98, could I do this in C and Java..?

[2020-10-11 18:10] krishrahul98 commented on #19
@vieee Assigned for **C** and **Java**

[2020-10-11 18:16] Aaditree commented on #42
Hi, can you assign C# to me?
Thanks.

[2020-10-11 18:17] Aaditree commented on #43
Hi, I would like to code this in C++

[2020-10-11 18:20] krishrahul98 commented on #42
@Aaditree Assigned for **C#**.
After completing this, remind me to close this issue.

[2020-10-11 18:20] krishrahul98 commented on #43
@Aaditree Assigned for **C++**

[2020-10-11 18:25] Aaditree commented on #42
Completed and pulled the request.

[2020-10-11 18:34] krishrahul98 commented on #42
Thanks for reminding.

[2020-10-11 18:35] Aaditree commented on #43
Done and pulled the request.

[2020-10-11 18:36] krishrahul98 commented on #43
Yes I have merged your PR.

[2020-10-11 18:51] krishrahul98 opened #119 "Largest Sum Contiguous Subarray"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Largest Sum Contiguous Subarray

**Submission Type**
Data Structure

**Submission Description**
Write an efficient program to find the sum of contiguous subarray within a one-dimensional array of numbers which has the largest sum.

**Submission Directory**
Data_Structures

[2020-10-11 19:07] vinayakkokane opened #120 "Merge two sorted Linked lists"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Merge two sorted Linked lists

**Submission Type**
Data Structure

**Submission Description**
Added program for Merge two sorted Linked lists in C++

**Submission Directory**
Data structures => Linked Lists =>Merge_two_sorted_lists => mergeLists.cpp

**Language**

- [x]

[2020-10-11 19:23] krishrahul98 commented on #120
@vinayakkokane Great, I have merged your PR.

[2020-10-11 20:00] ankitsri1998 commented on #119
Sir please Assign this to me , i can resolve it.
thank you

[2020-10-11 20:56] krishrahul98 commented on #119
@ankitsri1998
Language?

[2020-10-11 21:08] krishrahul98 commented on #64
@PrajaktaS23 Not completed yet.

[2020-10-11 21:08] krishrahul98 commented on #64
@shailshah76 Not Completed yet.

[2020-10-11 21:09] krishrahul98 commented on #81
@Dwarikanathmishra not completed yet.

[2020-10-11 21:12] ankitsri1998 commented on #119
Language is C++

On Mon, Oct 12, 2020, 2:26 AM Rahul Krishna <notifications@github.com>
wrote:

[2020-10-11 21:14] krishrahul98 commented on #119
@ankitsri1998 Assigned for **C++**

[2020-10-11 21:19] ankitsri1998 commented on #119
I will able to solve it in morning.
I'm going to sleep now...
But i am sure that I can do it efficiently.
Is it okay sir

On Mon, Oct 12, 2020, 2:44 AM Rahul Krishna <notifications@github.com>
wrote:

[2020-10-11 21:46] krishrahul98 commented on #119
@ankitsri1998 yeah it's totally fine.

[2020-10-12 07:46] Siddhant-K-code opened #125 "Project Euler Problems Solutions"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Project Euler/C++/1.cpp

**Submission Type**
Project Euler/C++

**Submission Description**
Describe the Problem

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Language**

- [ ]  C++
- [ ]  C
- [ ]  Python
- [ ] Java
- [ ] C#
- [

[2020-10-12 08:00] krishrahul98 commented on #125
@Siddhant-K-code Yes sure. Add a folder of Project Euler in the main directory and contributing.
It is a great idea.

[2020-10-12 08:02] Siddhant-K-code commented on #125
@krishrahul98 can u pls create a proper issue with proper labels and directory, so we can proceed

[2020-10-12 08:05] Siddhant-K-code commented on #120
Please Assign me for JavaScript

[2020-10-12 08:51] krishrahul98 commented on #125
@Siddhant-K-code ok sure. I will create a directory for this one and raise an issue.

[2020-10-12 08:53] krishrahul98 commented on #120
@Siddhant-K-code Assigned for **Javascript**

[2020-10-12 08:56] krishrahul98 commented on #125
@Siddhant-K-code I have created a directory for Project Euler and raising and issue for that.
So, I am closing this issue.

[2020-10-12 09:05] krishrahul98 opened #126 "Project Euler"
[Project Euler](https://projecteuler.net/archives)

Anyone who wants to contribute to Project Euler problems **Raise and Issue** with a problem statement name.
It would be great to contribute 🥳
Please follow the **Issue template** for raising request.
I am adding below the guidelines:-

**Add problem link**. It is important to add problem link first.

**Submission Title**
Project Euler Problem Nam

[2020-10-12 09:06] krishrahul98 commented on #125
@Siddhant-K-code
#126  See this issue. I have added a proper working structure.
Start contributing 😃

[2020-10-12 09:29] Siddhant-K-code commented on #126
For now, I Want To Do The Following Problems in `C++ & JavaScript` :

* 1 - Multiples of 3 and 5
* 2 - Even Fibonacci numbers
* 3 - Largest prime factor
* 4 - Largest palindrome product
* 5 - Smallest multiple

[2020-10-12 09:33] Abheetarora commented on #120
please assign this to me for java

[2020-10-12 09:34] krishrahul98 commented on #126
@Siddhant-K-code sure 😃

[2020-10-12 09:35] krishrahul98 commented on #120
@Abheetarora Assigned for **Java**

[2020-10-12 09:38] Siddhant-K-code commented on #126
please assign me @krishrahul98

[2020-10-12 09:43] garg-saurav commented on #120
Please assign me for Python.

[2020-10-12 09:44] garg-saurav commented on #120
Please assign me for Python

[2020-10-12 09:44] krishrahul98 commented on #120
@garg-saurav Assigned for **Python**

[2020-10-12 10:13] Abheetarora commented on #34
please assign this to me for cpp

[2020-10-12 10:19] krishrahul98 commented on #34
@Abheetarora Assigned for **C++**

[2020-10-12 10:57] garg-saurav commented on #119
@krishrahul98  Please assign me for Python

[2020-10-12 10:59] krishrahul98 commented on #119
@garg-saurav Assigned for **Python**

[2020-10-12 11:05] ByteCode-Test commented on #119
@krishrahul98  sir i have Solved the problem in c++
have you merged that , i can't see any notification regarding the same ???

[2020-10-12 11:09] krishrahul98 commented on #119
@ByteCode-Test
yes, I have merged check this #127

[2020-10-12 11:40] garg-saurav opened #133 "Project Euler 21: Amicable Numbers"
**Problem Link**
https://projecteuler.net/problem=21

**Submission Title**
Amicable Numbers

**Submission Type**
Algorithm

**Submission Description**
Let d(n) be defined as the sum of proper divisors of n (numbers less than n which divide evenly into n). If d(a) = b and d(b) = a, where a ≠ b, then a and b are an amicable pair and each of a and b are called amicable numbers. Evaluate the sum of al

[2020-10-12 11:41] garg-saurav commented on #133
@krishrahul98 Please assign me for Python

[2020-10-12 11:43] Dwarikanathmishra commented on #81
Created Pull request #134 in response to the assigned work. Apologies for the delay.

[2020-10-12 12:00] Dwarikanathmishra commented on #120
I would like to take up this issue to solve with C.

[2020-10-12 16:57] krishrahul98 commented on #81
No problem. @Dwarikanathmishra

[2020-10-12 16:58] krishrahul98 commented on #120
@Dwarikanathmishra Assigned for **C**

[2020-10-12 17:06] krishrahul98 commented on #133
@garg-saurav Assigned for **Python**

[2020-10-12 17:58] krishrahul98 opened #135 "Fix 'Use of eval' issue in Algorithms\Searching\Jump_Search\jump_search.py"
[CodeFactor](https://www.codefactor.io/repository/github/krishrahul98/dsa-library/overview/main) found an issue: Use of eval

It's currently on:
[Algorithms\Searching\Jump_Search\jump_search.py:22
](https://www.codefactor.io/repository/github/krishrahul98/dsa-library/source/main/Algorithms/Searching/Jump_Search/jump_search.py#L22)

[2020-10-12 18:07] krishrahul98 commented on #135
Fixed

[2020-10-12 18:13] krishrahul98 opened #136 "Fix 'Consider using enumerate instead of iterating with range and len' issue in Algorithms\Greedy\Fractional_Knapsack\Fractional_knapack_greedy.py"
[CodeFactor](https://www.codefactor.io/repository/github/krishrahul98/dsa-library/overview/main) found an issue: Consider using enumerate instead of iterating with range and len

It's currently on:
[Algorithms\Greedy\Fractional_Knapsack\Fractional_knapack_greedy.py:24
](https://www.codefactor.io/repository/github/krishrahul98/dsa-library/source/main/Algorithms/Greedy/Fractional_Knapsack/Fractional

[2020-10-12 20:18] krishrahul98 commented on #126
https://github.com/probot/unfurl

[2020-10-13 06:51] krishrahul98 commented on #64
**C++** and **Python** available.

[2020-10-13 06:54] shailshah76 commented on #64
I'll complete it by tomorrow i am working on it

[2020-10-13 06:55] krishrahul98 commented on #64
Ok then assigning you for *C++**

[2020-10-13 07:05] Siddhant-K-code commented on #64
can i work on Python ?

[2020-10-13 07:07] krishrahul98 commented on #64
@Siddhant-K-code Assigned for **Python**

[2020-10-13 07:21] sanskriti0512 commented on #119
Please assign me for Java

[2020-10-13 07:25] krishrahul98 commented on #119
@sanskriti0512 Assigned for **Java**

[2020-10-13 14:27] vieee commented on #133
Hi @krishrahul98, I would like to do this in C and Java, could I..?

[2020-10-13 14:30] Dwarikanathmishra commented on #17
I would like to try this with **JavaScript**.

[2020-10-13 16:47] EANimesha commented on #126
I like to complete those problems in python

[2020-10-13 16:47] shailshah76 commented on #2
Can i do it in JavaScript?

[2020-10-13 17:49] lordinkavu opened #147 "Quick Sort randomised."
Add randomised quicksort in cpp. Also add randomised quicksort with 3 way partition, making the algorithm much more efficient in case of sequence with many equal elements.

**Submission Title**
Binary Search/Selection sort/Stacks

**Submission Type**
Algorithm/Data Structure

**Submission Description**
Describe the Algo/DS

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filena

[2020-10-13 18:13] krishrahul98 commented on #126
@EANimesha Assigned for **Python**

[2020-10-13 18:18] krishrahul98 commented on #2
@shailshah76 Assigned for **JavaScript**

[2020-10-13 18:21] krishrahul98 commented on #147
@lordinkavu Great 👍🏼

[2020-10-14 03:08] krishrahul98 commented on #17
Completed

[2020-10-14 05:25] Siddhant-K-code commented on #126
Go Ahead!

[2020-10-14 06:23] krishrahul98 commented on #2
I am closing issue.

[2020-10-14 06:27] shailshah76 commented on #3
I can implement it in JavaScript

[2020-10-14 09:16] Dwarikanathmishra commented on #33
I would like to contribute using **C++**.

[2020-10-14 15:47] krishrahul98 commented on #3
@shailshah76 Assigned for **Javascript**

[2020-10-14 15:50] krishrahul98 commented on #33
@Dwarikanathmishra Assigned for **C++**

[2020-10-14 16:57] krishrahul98 commented on #3
Closing issue.

[2020-10-14 17:19] Tanis-02 commented on #120
Hi, I'd like to solve this in Java please

[2020-10-14 17:32] krishrahul98 commented on #120
@Tanis-02 Assigned for **Java**

[2020-10-14 17:50] shailshah76 commented on #6
I can do it in JavaScript

[2020-10-14 17:52] krishrahul98 commented on #6
@shailshah76 Assigned for **JavaScript**

[2020-10-14 18:40] krishrahul98 commented on #64
Closing issue.

[2020-10-15 02:56] SanjayMarreddi commented on #126
@krishrahul98 I would like to work in C . Could you please assign me !

[2020-10-15 02:58] Siddhant-K-code commented on #126
@SanjayMarreddi Assigned for **C** , Go Ahead!

[2020-10-15 03:37] poojitha2002 commented on #126
@krishrahul98 I would like to do these in JAVA. Could you please assign to me!!

[2020-10-15 03:46] Siddhant-K-code commented on #126
@poojitha2002  Assigned for **Java** , Go Ahead!

[2020-10-17 05:55] Priyanshi-3 commented on #93
BST_recursive in python #159

[2020-10-17 05:55] Priyanshi-3 commented on #93
BST_iterative in python #161

[2020-10-17 05:56] krishrahul98 commented on #93
@Priyanshi-3 both PR is merged. Great Work 👍🏼
From next time please fill the PR template correctly.

[2020-10-17 16:32] krishrahul98 opened #163 "Level Order Traversal"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Level Order Traversal

**Submission Type**
Data Structure

**Submission Description**
Level order traversal of a tree is breadth-first traversal for the tree.

**Submission Directory**
Data_Structure => Tree => Binary_Tree_Level_Order_Traversal => Binary_Tree_Level_Order_

[2020-10-17 16:34] krishrahul98 opened #164 "Level Order Traversal in spiral form"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Level Order Traversal in the spiral form

**Submission Type**
Data Structure

**Submission Description**
Level order traversal of a tree is breadth-first traversal for the tree in Zig zag order.

**Submission Directory**
Data_Structure => Tree => Binary_Tree_Level_Order_T

[2020-10-17 20:29] avinashpai commented on #163
May I have C

[2020-10-17 21:31] krishrahul98 commented on #163
@avinashpai Assigned for **C**

[2020-10-18 03:15] SuyashDeshmukh commented on #164
Please assign it to me Java

[2020-10-18 03:16] ChetanaL09 commented on #163
Please Assign this to me for python

[2020-10-18 03:17] shrutivasudevan commented on #163
Can you please assign this to me for Java

[2020-10-18 03:18] ChetanaL09 commented on #164
Please assign this for me for Python

[2020-10-18 03:24] krishrahul98 commented on #163
@ChetanaL09 Assigned for **Python**

[2020-10-18 03:24] krishrahul98 commented on #163
@shrutivasudevan Assigned for **Java**

[2020-10-18 03:25] krishrahul98 commented on #164
@SuyashDeshmukh Assigned for **Java**

[2020-10-18 03:25] krishrahul98 commented on #164
@ChetanaL09 Assigned for **Python**

[2020-10-18 07:32] leli-1 commented on #34
Can you assing this to me for python language

[2020-10-18 07:33] leli-1 commented on #33
Can you assign this to me for python ?

[2020-10-18 07:33] leli-1 commented on #7
Can you assign this to me for python ?

[2020-10-18 14:15] vieee commented on #164
Hi @krishrahul98, I would like to do this in C, could you please assign it to me..?

[2020-10-18 15:09] krishrahul98 commented on #34
@leli-1 Assigned for **Python**

[2020-10-18 15:10] krishrahul98 commented on #33
@leli-1 Assigned for **Python**

[2020-10-18 15:11] krishrahul98 commented on #7
@leli-1 Assigned for **Python**

[2020-10-18 15:25] krishrahul98 commented on #164
@vieee Assigned for **C**

[2020-10-19 03:28] nzubair commented on #4
Hi, I'd like to try my hands on C#.  Can you please assign?

[2020-10-19 03:29] nzubair commented on #5
Hi, I'd like to try my hands on C#.  Can you please assign?

[2020-10-19 03:31] nzubair commented on #65
Can you please assign C#?

[2020-10-19 05:07] krishrahul98 commented on #4
@nzubair Assigned for **C#**

[2020-10-19 05:07] krishrahul98 commented on #5
@nzubair Assigned for **C#**

[2020-10-19 05:08] krishrahul98 commented on #65
@nzubair Assigned for **C#**

[2020-10-19 15:08] MayThirtyOne commented on #119
Hi, I would like to do this problem in C. Please assign to me.

Thank you!

[2020-10-19 15:09] MayThirtyOne commented on #93
Hi, I would like to do this problem in C#. Please assign it to me.

Thank you.

[2020-10-19 15:09] MayThirtyOne commented on #163
Hi, I would like to do this problem in C++. Please assign it to me.

Thank you.

[2020-10-19 15:09] MayThirtyOne commented on #120
Hi, I would like to do this problem in C#. Please assign it to me.

Thank you.

[2020-10-19 16:10] BellatrixLestrangee commented on #147
Would like to contribute for Java

[2020-10-19 16:17] jzhengcode commented on #163
Can you assign this to me for Javascript?

[2020-10-19 17:08] krishrahul98 commented on #119
@MayThirtyOne Assigned for **C**

[2020-10-19 17:09] krishrahul98 commented on #93
@MayThirtyOne Assigned for **C#**

[2020-10-19 17:10] krishrahul98 commented on #120
@MayThirtyOne Assigned for **C#**

[2020-10-19 17:11] krishrahul98 commented on #147
@BellatrixLestrangee Assigned for**Java**

[2020-10-19 17:12] krishrahul98 commented on #163
@MayThirtyOne Assigned for **C++**

[2020-10-19 17:12] krishrahul98 commented on #163
@jzhengcode Assigned for **Javascript**

[2020-10-19 17:45] BraveeSnow commented on #20
I can do this in js.

[2020-10-19 18:07] krishrahul98 commented on #20
@BraveeSnow Assigned for **Javascript**

[2020-10-19 19:55] asamant commented on #43
Hi, @krishrahul98, please assign C# to me.

[2020-10-19 21:04] krishrahul98 commented on #43
@asamant Assigned for **C#**

[2020-10-20 02:50] MayThirtyOne commented on #163
Created a pull request. Thank you.

[2020-10-20 03:11] MayThirtyOne commented on #163
Please review my pull request. Thank you.

[2020-10-20 06:43] krishrahul98 commented on #163
@MayThirtyOne Done

[2020-10-20 11:31] BellatrixLestrangee commented on #147
Can i contribute for Python too?

[2020-10-20 12:00] krishrahul98 commented on #147
@BellatrixLestrangee Assigned for **Python**

[2020-10-20 15:55] vieee commented on #6
Hi @krishrahul98, I want to implement this in C#. Could you please assign me this?

[2020-10-20 16:32] jzhengcode commented on #119
I would like to be assigned this in Javascript

[2020-10-20 22:24] nzubair commented on #65
@krishrahul98  It seems like there are two different folders for BST.  `Data_Structures => Tree => BST_Implementation` and `Data_Structures => Tree => BST`.   Would it be OK if you I moved the two files in `BST` into `BST_Implementation` as part of my PR?

[2020-10-20 23:14] krishrahul98 commented on #6
@vieee Assigned for **C#**

[2020-10-20 23:16] krishrahul98 commented on #119
@jzhengcode Assigned for **Javascript**

[2020-10-20 23:17] krishrahul98 commented on #65
@nzubair yes, it is ok. Improvement is always welcome.

[2020-10-21 07:03] Ashutoshnegi880 commented on #40
please, assign me this in c#

[2020-10-21 07:08] krishrahul98 commented on #40
@Ashutoshnegi880 Assigned for **C#**

[2020-10-21 16:35] Ashutoshnegi880 commented on #8
assign me in c#

[2020-10-21 16:40] anshul3pathi commented on #119
Sir, please assign this issue to me. I can resolve this in C++.

[2020-10-21 16:42] krishrahul98 commented on #8
@Ashutoshnegi880 Assigned for **C#**

[2020-10-21 16:45] krishrahul98 commented on #119
@anshul3pathi  **C++** is already completed. Please choose another language or another issue. Or raise your own issue with new topic.

[2020-10-21 17:55] BraveeSnow commented on #7
I can do this in C++.

[2020-10-21 18:21] anshul3pathi commented on #119
Okay, thanks.

[2020-10-21 22:17] krishrahul98 commented on #7
@BraveeSnow Assigned for **C++**

[2020-10-23 07:27] vieee commented on #147
Hi @krishrahul98, would like to contribute for C and C#

[2020-10-23 09:43] krishrahul98 commented on #147
@vieee Assigned for **C** and **C#**

[2020-10-24 21:05] Priyanshi-3 commented on #126
Can you please assign me this in java for the sub-questions which have not been completed yet?

[2020-10-24 22:03] krishrahul98 commented on #126
@Priyanshi-3 yes sure, go ahead.

[2020-10-25 09:44] Priyanshi-3 commented on #126
Please review the changes #183 Multiple_Of_3_And_5.java and #184 even_fibonacci_nos.java

[2020-10-25 10:37] krishrahul98 commented on #126
@Priyanshi-3 Done

[2020-10-25 22:55] nzubair commented on #33
Pleas assign C#.

[2020-10-26 02:09] krishrahul98 commented on #33
@nzubair Assigned for **C#**

[2020-10-26 02:11] krishrahul98 commented on #33
@leli-1 you are assigned for more than 7 days. Still no PR?

[2020-10-26 12:07] Bhavay192 commented on #147
@krishrahul98  Assign me for JS

[2020-10-26 12:12] krishrahul98 commented on #147
@Bhavay192 Assigned for **Javascript**

[2020-10-26 13:05] swathi-vennela opened #186 "String Permutations | Backtracking"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
String Permutations

**Submission Type**
Algorithm

**Submission Description**
To write a program to find the permutations of a given string | Backtracking approach

**Submission Directory**
Algorithms => Backtracking => StringPermute.c => StringPermute.extension

**Langu

[2020-10-26 13:14] swathi-vennela commented on #186
Please assign me for C++

[2020-10-26 13:20] swathi-vennela opened #187 "Linked List Loop detection | Floyd's cycle finding Algo"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Linked List

**Submission Type**
Algorithm

**Submission Description**
Using the Floyd's Cycle finding algorithm to detect a loop/ cycle in a linked list

**Submission Directory**
Datastructures => Linkedlist => Linked_List_Cycle  => Filename.extension

**Language**

- [x

[2020-10-26 13:21] swathi-vennela commented on #187
Please assign me for C++

[2020-10-26 13:40] krishrahul98 commented on #186
@swathi-vennela Assigned for **C++* *

[2020-10-26 13:41] krishrahul98 commented on #187
@swathi-vennela Assigned for **C++**

[2020-10-26 13:46] afflato commented on #187
Please assign me for Java

[2020-10-26 14:13] krishrahul98 commented on #187
@afflato Assigned for **Java**

[2020-10-26 14:24] anirudhps10 commented on #187
Please assign me to Python

[2020-10-26 14:38] anirudhps10 commented on #186
Please assign me for python

[2020-10-26 14:55] Bhavay192 commented on #186
please assign me for java

[2020-10-26 14:59] Radhamohan2 commented on #187
please assign me for C

[2020-10-26 15:00] SrijitaSarkar99 commented on #186
Please assign me for C

[2020-10-26 15:47] krishrahul98 commented on #187
@anirudhps10 Assigned for **Python**

[2020-10-26 15:47] krishrahul98 commented on #187
@Radhamohan2 Assigned for **C**

[2020-10-26 15:49] krishrahul98 commented on #186
@anirudhps10 Assigned for **Python**

[2020-10-26 15:49] krishrahul98 commented on #186
@Bhavay192 Assigned for **Java**

[2020-10-26 15:49] afflato commented on #187
Raised PR - #190

[2020-10-26 15:50] krishrahul98 commented on #186
@SrijitaSarkar99 Assigned for **C**

[2020-10-26 15:51] krishrahul98 commented on #187
@afflato Done

[2020-10-26 15:53] Bhavay192 commented on #186
please assign me for javascript

[2020-10-26 16:21] Bhavay192 commented on #119
sir please assign me this for C#

[2020-10-26 16:28] Radhamohan2 commented on #164
please assign me for C++

[2020-10-26 16:35] krishrahul98 commented on #119
@Bhavay192 Assigned for **C#**

[2020-10-26 16:36] krishrahul98 commented on #164
@Radhamohan2 Assigned for **C++**

[2020-10-26 17:04] swathi-vennela opened #195 "Inversion Count in an array"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Inversion Count of an array

**Submission Type**
Algorithm

**Submission Description**
Program to find the inversion count of an array

**Submission Directory**
Data_Structures => Array => Inversion_count  => Filename.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Py

[2020-10-26 17:04] swathi-vennela commented on #195
Please assign me for C++

[2020-10-26 17:06] verma-shivani commented on #195
please assign me for c or c++

[2020-10-26 17:09] Radhamohan2 commented on #195
can you assign me for python

[2020-10-26 17:12] Bhavay192 commented on #43
Hi , please assign me for JavaScript

[2020-10-26 17:23] jzhengcode commented on #186
Please assign me for Javascript

[2020-10-26 18:22] giribroba commented on #195
please assign me for C#

[2020-10-26 18:27] giribroba commented on #187
Please assign me for C#

[2020-10-26 18:53] cyenney commented on #186
can you assign to me in c#? Thank you.

[2020-10-26 19:23] derekdkim commented on #187
Please assign me for Javascript

[2020-10-26 22:09] edinapap commented on #195
Hi, can you assign me for Javascript please?

[2020-10-26 22:40] Shreyas-Gupta-21 commented on #195
please assign me for c / c++

[2020-10-27 02:13] krishrahul98 commented on #43
@Bhavay192 Assigned for **Javascript**

[2020-10-27 02:14] krishrahul98 commented on #186
@jzhengcode Assigned for **Javascript**

[2020-10-27 02:15] krishrahul98 commented on #186
@cyenney Assigned for **C#**

[2020-10-27 02:16] krishrahul98 commented on #187
@giribroba Assigned for **C#**

[2020-10-27 02:16] Radhamohan2 commented on #195
sorry by mistake I have done the PR before assignment of the issue.
Please assign me for python so that I can reopen the PR.

[2020-10-27 02:17] krishrahul98 commented on #187
@derekdkim Assigned for **Javascript**

[2020-10-27 02:20] krishrahul98 commented on #195
@swathi-vennela Assigned for **C++**

[2020-10-27 02:21] krishrahul98 commented on #195
@verma-shivani Assigned for **C**

[2020-10-27 02:21] krishrahul98 commented on #195
@edinapap Assigned for **Python**

[2020-10-27 02:24] krishrahul98 commented on #195
@giribroba Assigned for **C#**

[2020-10-27 02:25] krishrahul98 commented on #195
@edinapap Assigned for **Javascript**

[2020-10-27 02:26] krishrahul98 commented on #195
@Shreyas-Gupta-21 hey you commented late. I am sorry but only java is left in this issue now.
Either choose java or raise your own issue with new topic.

[2020-10-27 02:31] krishrahul98 commented on #195
@Radhamohan2 Merged your PR

[2020-10-27 03:35] Radhamohan2 commented on #195
can you assign me for java also

[2020-10-27 03:37] afflato commented on #35
Hi, @krishrahul98, Can I work on this for js?

[2020-10-27 04:54] verma-shivani commented on #133
may you assign this to me for c++.

[2020-10-27 05:09] marcelosdsouza commented on #133
Can you assign me C#?

[2020-10-27 07:26] krishrahul98 commented on #195
@Radhamohan2 Assigned for **Java**

[2020-10-27 07:26] krishrahul98 commented on #35
@afflato Assigned for **JavaScript**

[2020-10-27 07:30] krishrahul98 commented on #133
@marcelosdsouza Assigned for **C#**

@verma-shivani Assigned for **C++**

[2020-10-27 11:17] Neha2827 commented on #34
Can you assign this to me for JAVA

[2020-10-27 11:20] Neha2827 commented on #33
Can you assign this to me for java?

[2020-10-27 11:23] Neha2827 commented on #7
Can you assign to me for C?

[2020-10-27 11:31] Neha2827 commented on #35
Can you assign this for C?

[2020-10-27 11:34] krishrahul98 commented on #34
@Neha2827 Assigned for **Java**. Someone already submitted in **Java**, please name your file little different.

[2020-10-27 11:35] krishrahul98 commented on #33
@Neha2827 Assigned for **Java**

[2020-10-27 11:36] krishrahul98 commented on #7
@Neha2827 Assigned for **C**

[2020-10-27 11:36] krishrahul98 commented on #35
@Neha2827 Assigned for **C**

[2020-10-27 12:21] verma-shivani commented on #33
please may you assign me this for javascript.

[2020-10-27 12:28] krishrahul98 commented on #33
@verma-shivani Assigned for **JavaScript**

[2020-10-27 12:55] verma-shivani commented on #33
please may you assign me this for python also.

[2020-10-27 13:20] krishrahul98 commented on #33
@verma-shivani Assigned for **Python**

[2020-10-27 14:11] sourabhjain9887 commented on #195
please assign me for c++

[2020-10-27 14:35] krishrahul98 commented on #195
@sourabhjain9887  Assigned for **C++**. Don't use the logic that is already in another C++ implementation.

[2020-10-27 19:52] swathi-vennela opened #220 "Longest Common Subsequence | DP"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Longest Common Subsequence

**Submission Type**
Algorithm

**Submission Description**
Given two strings, find the longest common subsequence between them

**Submission Directory**
Algorithms => DP => Longest_Common_Subsequence =>  Filename.extension

**Language**

- [x]

[2020-10-27 19:57] swathi-vennela opened #221 "nth Ugly Number | DP"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
nth Ugly number | DP

**Submission Type**
Algorithm

**Submission Description**
Ugly numbers are numbers whose only prime factors are 2, 3 or 5. Given a number n, the task is to find n’th Ugly number.

**Submission Directory**
Algorithms => DP => nth_Ugly_Number =>  Filen

[2020-10-27 20:20] krishrahul98 commented on #220
@swathi-vennela Which language you want to choose?

[2020-10-27 20:20] krishrahul98 commented on #221
@swathi-vennela your language?

[2020-10-27 23:16] Nitish-web-nik commented on #221
I want to contribute to this issue using C++ language, Please assign this to me.

[2020-10-27 23:52] vieee commented on #220
Hi @krishrahul98, could you assign me for C and Java..?

[2020-10-28 03:15] swathi-vennela commented on #220
@krishrahul98  I can't work on this, this is just my attempt in encouraging people to contribute to dp..

[2020-10-28 03:19] swathi-vennela commented on #221
@krishrahul98  Thank you, but I can't work on this.. I just wanted to encourage people to contribute to dp..

[2020-10-28 04:18] PRAy-d commented on #221
can i work on this issue?

[2020-10-28 05:20] krishrahul98 commented on #220
Oh that's great

[2020-10-28 05:21] krishrahul98 commented on #220
@vieee Assigned for **C** and **Java**

[2020-10-28 05:22] sawyer1997 commented on #221
I can work in python, Golang, C/C++, and JavaScript on this one.

[2020-10-28 05:22] krishrahul98 commented on #221
@swathi-vennela great

[2020-10-28 05:23] krishrahul98 commented on #221
@Nitish-web-nik Assigned for **C++**

[2020-10-28 05:24] krishrahul98 commented on #221
@PRAy-d your preferred language?

[2020-10-28 05:26] krishrahul98 commented on #221
@sawyer1997 Assigned for **Python**, **Go**, **C** and **Javascript**

[2020-10-28 05:28] sawyer1997 commented on #220
For Python !✋🏻

[2020-10-28 05:32] krishrahul98 commented on #220
@sawyer1997 Assigned for **Python**

[2020-10-28 06:46] verma-shivani commented on #220
please assign me for c++

[2020-10-28 06:48] verma-shivani commented on #221
Assign me this for java,please.

[2020-10-28 07:45] krishrahul98 commented on #220
@verma-shivani Assigned for **C++**

[2020-10-28 07:46] krishrahul98 commented on #221
@verma-shivani Assigned

[2020-10-28 12:57] om840 commented on #221
I want to contribute to this issue using Python  language, Please assign this to me.

[2020-10-28 13:17] Amandixit10 commented on #221
Hey ! i have gone through the issue an d finds it really interesting, i want to contribute the code, please assign me the issue.

[2020-10-28 13:29] om840 commented on #221
but how i can assign you i am also contributor

On Wed, 28 Oct 2020 at 04:17, Aman dixit <notifications@github.com> wrote:

[2020-10-28 13:31] Amandixit10 opened #228 "UTF-8 encoding checker | bit-manipulation"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Bit-manipulation

**Submission Type**
Algorithm/Data Structure

**Submission Description**
Describe the Algo/DS

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extension

**Language**

- [x]  C++
- [x]  C
- [x]  Python
- [x] Java
- [ ] C#
- [

[2020-10-28 13:32] Amandixit10 commented on #228
i want to contribute please assign this issue to me in java.

[2020-10-28 13:54] sourabhjain9887 commented on #195
added inversion-count in cpp

[2020-10-28 15:41] jDerp commented on #228
I would like to contribute in C++. Please assign to me, Thank you.

[2020-10-28 16:04] krishrahul98 commented on #195
@sourabhjain9887  I will merge your PR

[2020-10-28 16:05] krishrahul98 commented on #228
@Amandixit10 Assigned for **Java**

[2020-10-28 16:05] krishrahul98 commented on #228
@jDerp Assigned for **C++**

[2020-10-28 16:10] redgardner commented on #220
Can I take the Javascript part?

[2020-10-28 16:13] redgardner commented on #7
Can I take this for Javascript?

[2020-10-28 16:14] krishrahul98 commented on #221
@sawyer1997 Already someone is assigned for **Java**. So, I can't directly assign you to **Java**. I am assigning you for code with efficient time complexity. Just add efficient in your PR request and file name as well.
And don't forget to fill the PR template correctly. It helps a lot.

[2020-10-28 16:17] krishrahul98 commented on #221
@om840 I have gone through your PR. Your code is with very high complexity and already someone is assigned for **Python**. So, I can't accept your PR directly. Please write an efficient approach and append efficient in file name.
And fill the PR template properly.

[2020-10-28 16:20] krishrahul98 commented on #220
@redgardner Yes, Sure. You are assigned for **Javascript**.

[2020-10-28 16:20] krishrahul98 commented on #7
@redgardner Assigned for **Javascript**

[2020-10-28 17:39] sourabhjain9887 commented on #43
I would like to code this in c++. Please assign me this issue.

[2020-10-28 17:41] sourabhjain9887 commented on #220
I would like to code in c++. Please assign me this issue.

[2020-10-29 00:12] krishrahul98 commented on #43
@sourabhjain9887 In **C++** code is already implemented. Please choose another issue or raise a new one with your choice of DSA problem.

[2020-10-29 00:15] krishrahul98 commented on #220
@sourabhjain9887 ok sure. Implement Memoization approach for this one because C++ is already assigned to someone.

[2020-10-29 00:25] krishrahul98 commented on #7
**Python** available.

[2020-10-29 02:44] redgardner commented on #34
Can I take this for Javascript?

[2020-10-29 04:42] krishrahul98 commented on #34
@redgardner Assigned for **Javascript**

[2020-10-29 09:02] sawyer1997 commented on #220
Please consider reviewing the code, and merging the same.

[2020-10-29 09:10] sawyer1997 commented on #221
@krishrahul98 I guess I have bee tagged in wrong reply?

[2020-10-29 09:33] krishrahul98 commented on #220
@sawyer1997 Done

[2020-10-29 09:34] krishrahul98 commented on #221
@sawyer1997 I am sorry. My bad.

[2020-10-29 10:50] sawyer1997 commented on #221
@krishrahul98 Please consider reviewing the PR, and merging the same.

[2020-10-29 11:15] krishrahul98 commented on #221
@sawyer1997 Done

[2020-10-29 13:29] rachitmanas commented on #228
I would like to contribute with Python3.  Can you please assign me @krishrahul98 ?

[2020-10-29 13:34] krishrahul98 commented on #228
@rachitmanas Assigned for **Python**

[2020-10-29 13:34] rachitmanas opened #239 "Median-Of-Medians Algorithm |"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Median_Of_Medians  algorithm

**Submission Type**
Algorithm
**Submission Description**
This algorithm can be used to find kth smallest number in any unsorted array in O(n), Linear time.

**Submission Directory**
Main_Folder => Sub_Folder => ... => ... => Filename.extensio

[2020-10-29 13:35] rachitmanas commented on #239
I would like to contribute in C++. Please assign me.

[2020-10-29 13:44] krishrahul98 commented on #239
@rachitmanas Assigned for **C++**

[2020-10-29 14:31] hemanth-kotagiri opened #240 "Tim Sort | C, C++, Python, Java, JavaScript"
I would like to implement Tim Sort in all the languagues specified in the title. They are: C, C++, Java, Python and JavaScript

**Tim Sort**

**Submission Type**
Algorithm

**Submission Description**
Timsort is a hybrid stable sorting algorithm, derived from merge sort and insertion sort, designed to perform well on many kinds of real-world data.
Here's more information from Wikipedia: [Tim Sort](

[2020-10-29 14:32] hemanth-kotagiri commented on #240
Please assign me the following languages for this task: C, CPP, Java, Python, JavaScript.
Thanks, @krishrahul98

[2020-10-29 15:04] hemanth-kotagiri opened #241 "Improve Contribution Guidelines | No Plagiarism"
This is not a bug-report, but rather an issue to improve this repository's contribution guidelines.

Please add **No Plagiarism** in the contribution guidelines to avoid PRs that directly copy-paste the code from elsewhere which is available from the internet.
My opinion is that an individual who's raising a PR should at-least have worked on it a bit before raising one but not merely copy-pasting

[2020-10-29 15:11] krishrahul98 commented on #240
@hemanth-kotagiri Assigned for **C**, **C++**, **Java**, **Python** and **Javascript**.

[2020-10-29 15:14] krishrahul98 commented on #241
@hemanth-kotagiri Could you improve contributions guidelines and raise a PR. That will be a great help.
If you like to maintain this repository. I could add as a collaborator as well.

[2020-10-29 15:16] hemanth-kotagiri commented on #241
@krishrahul98 That sounds awesome! Sure, I will raise a PR on the same. I am open to become a collaborator for this repository.
Thanks!

[2020-10-29 15:19] krishrahul98 commented on #241
@hemanth-kotagiri Ok I am making you collaborator.

[2020-10-29 16:20] rachitmanas commented on #239
I have pulled the request. Please have a look and merge.

[2020-10-29 16:22] rachitmanas commented on #221
Can I take up the C# language?

[2020-10-29 17:09] krishrahul98 commented on #239
@rachitmanas Check your PR and comment.

[2020-10-29 17:11] krishrahul98 commented on #221
@rachitmanas Assigned for **C#**
Please follow all guidelines.

[2020-10-29 22:45] jDerp commented on #228
Do I need an assignment from you if I want to debug the python code?

[2020-10-30 02:37] krishrahul98 commented on #228
@jDerp if you want to debug and improve code it is great. It is better to get assigned. So, that we can keep track.

[2020-10-30 04:37] marcelosdsouza commented on #133
Can you assign me JavaScript?

[2020-10-30 04:50] krishrahul98 commented on #133
@marcelosdsouza Assigned for **Javascript**

[2020-10-30 05:24] jDerp commented on #228
So can you assign me on debugging the python code and also I want to add C implementation.

[2020-10-30 09:17] krishrahul98 commented on #228
@jDerp  Assigned for both.

[2020-11-02 17:13] hemanth-kotagiri opened #254 "Binary Insertion Sort | C, C++, Python, Java, JavaScript"
**Binary Insertion Sort**

**Algorithm**

**Submission Description**
Binary insertion sort uses a binary search to determine the correct location to insert new elements, and therefore performs ⌈log2 n⌉ comparisons in the worst case, which is O(n log n).
For More information: [Insertion Sort](https://en.wikipedia.org/wiki/Insertion_sort)

**Submission Directory**
``DSA-Library/Algorithms/Sorting/Bi

[2021-10-01 00:18] #64 closed

[2021-10-01 00:18] #81 closed

[2021-10-01 00:18] #82 closed

[2021-10-01 00:18] #119 closed

[2021-10-01 00:18] #120 closed

[2021-10-01 00:18] #133 closed

[2021-10-01 00:18] #135 closed

[2021-10-01 00:18] #136 closed

[2021-10-01 00:18] #147 closed

[2021-10-01 00:18] #163 closed

[2021-10-01 00:18] #186 closed

[2021-10-01 00:18] #187 closed

[2021-10-01 00:18] #195 closed

[2021-10-01 00:18] #221 closed

[2021-10-01 00:18] #241 closed

[2021-10-01 00:18] #3 closed

[2021-10-01 00:18] #4 closed

[2021-10-01 00:18] #5 closed

[2021-10-01 00:18] #6 closed

[2021-10-01 00:18] #17 closed

[2021-10-01 00:18] #18 closed

[2021-10-01 00:18] #33 closed

[2021-10-01 00:18] #40 closed

[2021-10-01 00:18] #42 closed

[2021-10-01 00:18] #43 closed

[2021-10-01 00:18] #63 closed

[2021-10-01 00:19] #2 closed

[2021-10-01 00:51] OussamaSALAHOUELHADJ commented on #254
Hey, I would like to implement the algorithm in C#, please, I will give it a try.

[2021-10-01 01:00] OussamaSALAHOUELHADJ commented on #239
Hey, I would like to implement the algorithm in JavaScript, please and thank you, I will give it a try.

[2021-10-01 01:33] krishrahul98 commented on #254
@OussamaSALAHOUELHADJ You are assigned for **C#**

[2021-10-01 01:34] krishrahul98 commented on #239
@OussamaSALAHOUELHADJ You are assigned for **JavaScript**

[2021-10-01 03:02] ilmiye commented on #7
Hey, can you assign python part of this issue to me?

[2021-10-01 03:07] krishrahul98 commented on #7
@ilmiye Assigned for **Python**

[2021-10-01 03:20] Anthony-Citizen opened #262 "Separate chaining - Hashing"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Seperate Chaining

**Submission Type**
Data Structure

**Submission Description**
Separate chaining is defined as a method by which linked lists of values are built in association with each location within the hash table when a collision occurs. The figure shows incidence

[2021-10-01 03:53] hemanth-kotagiri commented on #262
@krishrahul98 I will pick up other languages such as Python, C++, Java, and JavaScript.

[2021-10-01 03:58] ilmiye commented on #262
Can I get python one?

[2021-10-01 03:59] ilmiye commented on #254
Can I get python one?

[2021-10-01 04:02] hemanth-kotagiri commented on #254
Hey, @ilmiye. Go ahead. I will assign you for Python implementation.

[2021-10-01 04:35] krishrahul98 commented on #262
@hemanth-kotagiri yes sure go ahead. Leave **Python** for @ilmiye

[2021-10-01 04:36] krishrahul98 commented on #262
@ilmiye Assigned for **Python**

[2021-10-01 05:31] suraj-singh12 commented on #254
Hi @hemanth-kotagiri , I would like to get the java version. Could you please assign me this?

[2021-10-01 05:33] hemanth-kotagiri commented on #254
Go ahead @suraj-singh12. I'll assign you for Java.

[2021-10-01 07:35] suraj-singh12 commented on #254
@hemanth-kotagiri , kindly check the PR, I have added the Java version of Binary Insertion Sort.

[2021-10-01 19:32] khushbooSingh99 opened #266 "Adding Disjoint set union (UNION FIND) implementation."
**Submission Title**
Disjoint Set Union

**Submission Type**
Data Structure

**Submission Description**
Describe the DS

**Submission Directory**
Main_Folder => Data_Structures => Union Find => dsu_implementation.cpp

**Language**

- [x]  C++
- [ ]  C
- [ ]  Python
- [ ] Java
- [ ] C#
- [ ] JavaScript

Please assign me this issue.

[2021-10-01 19:32] khushbooSingh99 commented on #266
Please assign me this issue.

[2021-10-01 21:01] krishrahul98 commented on #266
@khushbooSingh99 assigned for **C++**

[2021-10-02 04:15] OussamaSALAHOUELHADJ commented on #254
@hemanth-kotagiri please check the PRs, I have included the JavaScript implementation of the Binary Insertion Sort algorithm, please and thank you.

[2021-10-03 08:20] ilmiye commented on #254
Hey @hemanth-kotagiri can you check my PR #268 ?

[2021-10-04 04:59] amintai commented on #266
Can i work with JavaScript? @krishrahul98

[2021-10-04 13:57] OussamaSALAHOUELHADJ commented on #254
@hemanth-kotagiri please check PRs, I have included the C# implementation of the Binary Insertion Sort algorithm, please and thank you. #269

[2021-10-04 14:45] hemanth-kotagiri commented on #254
Sure, @OussamaSALAHOUELHADJ. I will check it out.

[2021-10-05 02:24] OussamaSALAHOUELHADJ commented on #266
@khushbooSingh99  can you please assign it to me in Javascript, thankyou

[2021-10-05 18:13] hemanth-kotagiri commented on #266
Hey, @amintai. I am assigning you the implementation in JavaScript.

[2021-10-05 23:56] OussamaSALAHOUELHADJ commented on #266
@hemanth-kotagiri can you assign me for C# please and thank you.

[2021-10-06 10:30] OussamaSALAHOUELHADJ commented on #266
@hemanth-kotagiri please check the PRs #271 , I have included the C# implementation of the Disjoint-set (UNIONFIND) Data Structure, please and thank you.

[2021-10-07 07:15] divyanshutw opened #273 "Add Coded triangle numbers Problem Number 42"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Problem Link**
https://www.hackerrank.com/contests/projecteuler/challenges/euler042/
https://projecteuler.net/problem=42

**Submission Title**
Project Euler Coded triangle numbers Problem Number 42

**Submission Type**
Algorithm

**Problem Description**
The nth term of the sequence of trian

[2021-10-07 09:04] SaloniK17 commented on #7
Hey, can you assign c part of this issue to me ?

[2021-10-09 06:54] ilmiye commented on #7
Hey @krishrahul98 , Can you check my PR #275 ?

[2021-10-09 19:34] Kineolyan commented on #254
Hello, the two languages being very similar, I would like to take this assignment for C **and** C++, if that's ok. Otherwise, assign me only C++.

[2021-10-10 12:13] Kineolyan commented on #254
The PR for C is ready at #277. Considering the C++ version, for this particular algorithm, I don't see how much it is different from the C version. I can use C++ standard ways of printing values to the console. Would you like I use `vector` or `list` instead of a raw array?

[2021-10-10 14:10] Priyanka11-dev commented on #239
Hi @krishrahul98 ,
Would like to try this with python.
Plz assign it to me.

[2021-10-11 11:50] Kineolyan commented on #239
Hello @krishrahul98 I would like to be assigned to this task in C.

[2021-10-17 08:10] ilmiye commented on #7
Please check #278 @krishrahul98 @hemanth-kotagiri

[2021-10-17 08:22] ilmiye commented on #34
Please check https://github.com/krishrahul98/DSA-Library/pull/279 @krishrahul98 @hemanth-kotagiri

[2021-10-19 07:04] hemanth-kotagiri commented on #239
@Kineolyan you are assigned for **C**.

[2021-10-31 08:40] Neha2827 commented on #254
Can I be assigned to this issue for C++?

[2021-10-31 08:41] Neha2827 commented on #35
Can you assign this for C++?

[2021-10-31 08:42] Neha2827 commented on #34
can you assign it for c++?

[2021-10-31 08:43] Neha2827 commented on #7
can you assign this for c++

[2021-11-07 07:38] #240 closed

[2021-11-07 07:38] #65 closed

[2021-11-07 07:38] #164 closed

[2021-11-07 07:38] #220 closed

[2021-11-07 07:38] #228 closed

[2021-11-07 07:38] #125 closed

[2021-11-07 15:56] #19 closed

[2021-11-07 15:56] #262 closed

[2021-11-11 01:46] #20 closed

[2021-11-11 01:46] #8 closed

[2021-11-14 00:12] #266 closed

[2021-11-23 12:50] #93 closed

[2021-11-25 13:37] #239 closed

[2021-12-07 10:00] #34 closed

[2021-12-07 10:00] #7 closed

[2022-10-14 21:28] PraSoonGosWami opened #285 "Kadane's algorithm - Typescript"
Add comment to get assigned to your desired language.
Follow Submission directory Structure for PR merge.

**Submission Title**
Kadane's algorithm - Typescript - DP

**Submission Type**
Algorithm

**Submission Description**
The algorithm is used for finding a contiguous subarray with the largest sum, within a given one-dimensional array A[1...n] of numbers

**Submission Directory**
DSA-Library/Alg

[2022-10-15 03:15] krishrahul98 commented on #285
@PraSoonGosWami PR merged.

[2022-10-17 08:17] krishrahul98 commented on #254
@PraSoonGosWami Try this one

[2022-10-20 15:40] g4m3r0 commented on #285
Kindly assign me the C# part.

[2022-10-20 15:54] krishrahul98 commented on #273
@rahul2001dewangan Python assigned to you.

[2022-10-20 15:56] krishrahul98 commented on #285
@rahul2001dewangan C++ assigned to you.

[2022-10-20 15:56] krishrahul98 commented on #285
@g4m3r0 C# assigned to you